@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --font1:'Manrope', sans-serif;
    --fs: 13px;

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font1);
    font-weight: 500;
}

body {
    width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

img, ion-icon, span {
    display: block;
}

button {
    border: none;
    cursor: pointer;
}

.desktop-design {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.5;
}
